In [1]:
import pandas as pd
import sqlite3

## Load Final Dataset into SQLite (ETL Step)

In [3]:
# 1. Load the cleaned CSV
csv_path = "C:/Users/Shreya Kolte/OneDrive/Desktop/global_econ_intelligence_project/Data/Clean/final_trade_etf_data.csv"
df = pd.read_csv(csv_path)

# 2. Connect to SQLite 
conn = sqlite3.connect("global_econ_data.db")

# 3. Write to a new table
df.to_sql("trade_etf_data", conn, if_exists="replace", index=False)

# 4. Verify
print(" Table 'trade_etf_data' created in global_econ_data.db")

# 5. Preview some rows
print(df.head())

# Close connection
conn.close()

 Table 'trade_etf_data' created in global_econ_data.db
                        Country       Month  Import_Value  Export_Value  \
0  Advanced Technology Products  2024-04-01  61381.770734  36165.674552
1  Advanced Technology Products  2024-05-01  61900.930853  37337.173882
2  Advanced Technology Products  2024-06-01  62033.696162  41411.731715
3  Advanced Technology Products  2024-07-01  67007.378870  40187.979033
4  Advanced Technology Products  2024-08-01  66409.283057  44710.418966

   Trade_Balance  XLK_Avg_Close  Trade_Balance_%_Change  XLK_Change_%
0  -25216.096182     198.692767                     NaN           NaN
1  -24563.756971     207.361606               -2.586995      4.362936
2  -20621.964447     221.283344              -16.047189      6.713749
3  -26819.399837     224.847267               30.052595      1.610570
4  -21698.864091     213.429815              -19.092656     -5.077870

In [4]:
conn = sqlite3.connect("global_econ_data.db")
cursor = conn.cursor()

##  1. Average Trade Balance

In [5]:
cursor.execute("SELECT AVG(Trade_Balance) FROM trade_etf_data")
print("Average Trade Balance:", cursor.fetchone()[0])

Average Trade Balance: -27154.77375011111

## 2. Best ETF Month (highest XLK Avg Close)

In [9]:
cursor.execute("""
    SELECT Month, XLK_Avg_Close 
    FROM trade_etf_data 
    ORDER BY XLK_Avg_Close DESC 
    LIMIT 1
""")
print("Best ETF Month:", cursor.fetchone())

Best ETF Month: ('2024-12-01', 237.02872430710565)

## 3. Worst Trade Balance Month

In [10]:
cursor.execute("""
    SELECT Month, Trade_Balance 
    FROM trade_etf_data 
    ORDER BY Trade_Balance ASC 
    LIMIT 1
""")
print("Worst Trade Balance Month:", cursor.fetchone())

Worst Trade Balance Month: ('2024-09-01', -34443.787673000006)

## 4. Count of Deficit Months (negative trade balance)

In [11]:
cursor.execute("""
    SELECT COUNT(*) 
    FROM trade_etf_data 
    WHERE Trade_Balance < 0
""")
print("Deficit Months:", cursor.fetchone()[0])

Deficit Months: 9

## 5. ETF Growth Percent > 5%

In [15]:
cursor.execute("""
    SELECT Month, [XLK_Change_%]
    FROM trade_etf_data
    WHERE [XLK_Change_%] > 5
""")
print("High Growth ETF Months:")
for row in cursor.fetchall():
    print(row)

High Growth ETF Months:
('2024-06-01', 6.713749187810714)

In [16]:
conn.close()